*{
  margin: 5px;
  padding: 2px;
}
.service{
  display: flex;
}
/* Add padding to containers */
.container {
  margin: 3rem 5rem;
  padding:6px;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  float: left;
  text-align: center;
  width: 50%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}


.registerbtn:hover {
  opacity: 1;
}



/* Set a grey background color and center the text of the "submit" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


/* Setting up left section of the webpage */
.imp{
  margin: inherit;
  padding: 2rem;
  margin: inherit;
  display: block;
  font-weight: inherit;
  font-family: sans-serif;
  font-size: 2rem;
}
 /*image setting*/
 .img{
   height: 50%;
   width: 110%;
   border-radius: 0.4rem;
 }

